body {
  font-size: xx-large;
  margin: 15px;
  box-sizing: border-box;
  text-align: justify; 
}
h1 {
  font-size: x-large;
  text-align: center;
}

h2 {
  font-size: x-large;
  text-align: center;
}

figure {
    margin: 40px;
  }

img {
  max-width: 100%;
  width: 350px;
}

@media screen and (min-width: 820px) {
  body {
    background-color: aqua;
    font-size: x-large;
    margin: 20px;
  }

  h1, h2 {
    font-size: xx-large;
  }
  
  #gatos {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  img {
    width: 450px;
  }
}

@media screen and (min-width: 1120px) {
  body {
    background-color: chartreuse;
    font-size: larger;
    line-height: 1.5;
    margin: 40px;  
  }  
  
  h1, h2 {
    font-size: larger;  
  }
  
  p {
    max-width: 95%;
    margin: 0 auto;
    line-height: 1.5;
  }
  
  #gatos {
    margin: 0 auto;
    justify-content: center;
  }

  img {
    width: 450px;
  }
}